BattleTanks/Content/StarterContent/Props/Materials/M_TableRound.uasset
BattleTanks/Content/StarterContent/Props/Materials/M_StatueGlass.uasset
BattleTanks/Content/StarterContent/Props/Materials/M_Statue.uasset
BattleTanks/Content/StarterContent/Props/Materials/M_Shelf.uasset
BattleTanks/Content/StarterContent/Shapes/Shape_Cone.uasset
BattleTanks/Content/StarterContent/
BattleTanks/Content/TankAssets/BT12-TankParts.zip
